#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.vertical .carousel-inner {
  width: 100%;
  height: 100vh;
}

.carousel.vertical .item {
  transition: 0.6s ease-in-out top;
}

.carousel.vertical .active {
  top: 0;
}

.carousel.vertical .next {
  top: 400px;
}

.carousel.vertical .prev {
  top: -400px;
}

.carousel.vertical .next.left,
.carousel.vertical .prev.right {
  top: 0;
}

.carousel.vertical .active.left {
  top: -400px;
}

.carousel.vertical .active.right {
  top: 400px;
}

.carousel.vertical .item {
  left: 0;
}

/* 1 */
.outer-div {
  height: 100vh;
  overflow: hidden;
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url("http://www.tipue.com/img/yes.jpg");
}

.inner-div:hover {
  transform: scale(1.2);
}

/* 2 */
.outer-div {
  height: 100vh;
  overflow: hidden;
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url("http://www.tipue.com/img/yes.jpg");
}

.inner-div:hover {
  transform: scale(1.2);
}

/* 3 */
.outer-div {
  height: 100vh;
  overflow: hidden;
}

.inner-div {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  transition: all 0.5s ease;
  background-image: url("http://www.tipue.com/img/yes.jpg");
}

.inner-div:hover {
  transform: scale(1.2);
}
