<div class="navbar" role="navigation">
  <div class="navbar-header">
    <button
      type="button"
      class="navbar-toggle"
      data-toggle="collapse"
      data-target="#myidname"
    >
      <span class="icon-bar">-</span>
      <span class="icon-bar">-</span>
      <span class="icon-bar">-</span>
    </button>
    <span
      ><img
        src="https://images-na.ssl-images-amazon.com/images/I/41CyuoxrPvL._SX425_.jpg"
      />SMILE</span
    >
  </div>
  <div class="navbar-collapse collapse" id="myidname">
    <ul class="nav navbar-nav" style="float: right;">
      <li>
        <button
          type="button"
          class="btn btn-default"
          onclick="window.location.href='/about'"
        >
          About
        </button>
      </li>
      <li>
        <button
          type="button"
          class="btn btn-default"
          onclick="window.location.href='../works'"
        >
          Works
        </button>
      </li>
    </ul>
  </div>
</div>
<div class="background">
  <h1>Make things as simple</h1>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="tech0 col-md-6">
      <span><img src="./assets/icon1.png" />Strategy</span>
      <h4>
        We uncover unique opportunities to connect brands and their audiences in
        the evolving digital landscape.
      </h4>
    </div>
    <div class="tech0 col-md-6">
      <span><img src="./assets/icon2.png" />Design</span>
      <h4>
        We uncover unique opportunities to connect brands and their audiences in
        the evolving digital landscape.
      </h4>
    </div>
  </div>

  <div class="row">
    <div class="tech1 col-md-6">
      <span><img src="./assets/icon1.png" />Technology</span>
      <h4>
        We uncover unique opportunities to connect brands and their audiences in
        the evolving digital landscape.
      </h4>
    </div>
    <div class="tech1 col-md-6">
      <span><img src="./assets/icon2.png" />Brand</span>
      <h4>
        We uncover unique opportunities to connect brands and their audiences in
        the evolving digital landscape.
      </h4>
    </div>
  </div>
</div>

<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
                    <label>Firstname</label>
                    <input type="text" class="form-control" placeholder="Enter Name" formControlName="firstname">
                    <label>Lastname</label>
                    <input type="text"  class="form-control" placeholder="Enter Name" formControlName="Lastname">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter Name" formControlName="Email">
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr>
			</div>	
		</div>
	</section>
