    <div class="background">
        <h1>You want it,You Make it!</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="parent1">
                    <div class="child bg-one">
                        <h4>Hyper-Reality</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="parent2">
                    <div class="child bg-two">
                        <h4>The Future of Virtual Shopping</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="parent3">
                    <div class="child bg-three">
                        <h4>Unimersiv</h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="parent2">
                    <div class="child bg-two">
                        <h4>The Future of Virtual Shopping</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                    <div class="parent3">
                        <div class="child bg-three">
                            <h4>Unimersiv</h4>
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="parent1">
                    <div class="child bg-one">
                        <h4>Hyper-Reality</h4>
                    </div>
                </div>
            </div>
            
        </div>

    </div>